{% extends 'shop/basic.html' %}

{% block body %}

<main>
    <div class="container py-4">
  
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5 text-bg-dark rounded-3">
            <h1 class="display-5 fw-bold">About Us</h1>
            <p style="margin: 10px;">ShoK!ng Private Limited is an Indian e-commerce company, headquartered in Bengaluru, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
                <br>
                The service competes primarily with Amazon India and domestic rival Snapdeal. As of June 2023, ShoK!ng held a 80.5% market share in the Indian e-commerce industry. ShoK!ng has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.
            </p>
            <button class="btn btn-outline-light btn-lg" type="button" style="margin-top: 25px; margin-left: 20px;">More....</button>
        </div>
      </div>
  
    </div>
</main>

{% endblock %}